body
{
	background: url("img/lineas_trans.png");
	font-family: "Segoe UI", Arial, sans-serif;
}

.safemode
{
	color:black;
	position:absolute;
	padding:8px 14px;
	font-size:20px;
	display:none;
}

.leftup
{
	left:0px;
	top:0px;
}

.rightup
{
	right:0px;
}

.rightbottom
{
	right:0px;
	bottom:0px;
}

.leftbottom
{
	left:0px;
	bottom:0px;
}

.trashcan
{
	left:0px;
	top:10px;
	display:block;
	z-index:101;
}

.trashcan_open
{
	left:0px;
	top:10px;
	z-index:101;
}

.error_icon
{
    margin-right: 7px;
    vertical-align: -45%;
	float:left;
}

.error_message
{
    float: left;
    width: 221px;
}

.popup_content
{
	margin-top: 17px;
}

#safemode_button
{
	position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    background-color: #ffffff47;
    padding: 10px 20px;
    border: 1px solid;
}

#pu_title_error
{
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: yellow;
	background: rgb(255, 62, 48);
	padding:3px;
	cursor:pointer;
}

.trashcan_container
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 40px;
    left: 10px;
	
	z-index:102;
	display:none;
}